<div class="container">

  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" selected="true" class="header">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="example-icon">Invest</div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <img class="logo" src="../assets/Images/shopping_image.png">
    </button>
  </mat-toolbar>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="footer">
    <a routerLink="/home" routerLinkActive="active">
      <div class="icons">
        <mat-icon>home</mat-icon><span class="txt">Home</span>
      </div>
    </a>
    <a routerLink="/invest" routerLinkActive="active">
      <div class="icons">
        <mat-icon> local_atm</mat-icon><span class="txt">Invest</span>
      </div>
    </a>
    <a routerLink="/portfolio" routerLinkActive="active">
      <div class="icons">
        <mat-icon>business_center</mat-icon><span class="txt">portfolio</span>
      </div>
    </a>
    <a routerLink="/profile" routerLinkActive="active">
      <div class="icons">
        <mat-icon>person</mat-icon><span class="txt">profile</span>
      </div>
    </a>
  </mat-toolbar>

</div>